In [6]:
import sqlite3
import data_vault_main as dbm

conn = sqlite3.connect(r'C:\Users\whwei\OneDrive\coding\CDI_500_readout\data_vault.db')
c = conn.cursor()
dbm.create_table(c, conn, 'time_series_data')

0

In [8]:
dbm.show_database(c)
conn.close

[('sqlite_sequence',), ('time_series_data',)]

In [8]:
c.execute("SELECT * FROM time_series")
print(c.fetchone())

(1, 1, 154113, 7.44, 40, 100, 37.1, 20, -4.5, 98, 5.4, 0, 0, 0, 7.2, 50, 50, 36.9, 85, 23, 7.8)

In [5]:
print(c.fetchall())

[]

In [5]:
c.execute("DROP TABLE time_series");

In [6]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())

[('sqlite_sequence',), ('time_series_data',)]