In [2]:
import sqlite3
import database

conn = sqlite3.connect('data.db')
c = conn.cursor()

In [3]:
c.execute("""CREATE TABLE IF NOT EXISTS cdi(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        Time NUMERIC NOT NULL,
        artpH NUMERIC,
        artpCO2 NUMERIC,
        artpO2 NUMERIC,
        artTEMP NUMERIC,
        HCO3 NUMERIC,
        BE NUMERIC,
        cSO2 NUMERIC,
        K NUMERIC,
        VO2 NUMERIC,
        Q NUMERIC,
        BSA NUMERIC,
        venpH NUMERIC,
        venpCO2 NUMERIC,
        venpO2 NUMERIC,
        venTEMP NUMERIC,
        SO2 NUMERIC,
        HCT NUMERIC,
        HGB NUMERIC
)""")
conn.commit()

In [12]:
c.execute("DROP TABLE cdi");

In [7]:
c.execute(
        "INSERT INTO cdi (Time, artpH, artpCO2, artpO2, artTEMP, HCO3, BE, cSO2, K, VO2, Q, BSA, venpH, venpCO2, venpO2, venTEMP, SO2, HCT, HGB) VALUES(:Time, :artpH, :artpCO2, :artpO2, :artTEMP, :HCO3, :BE, :cSO2, :K, :VO2, :Q, :BSA, :venpH, :venpCO2, :venpO2, :venTEMP, :SO2, :HCT, :HGB)",
        {'Time': 154113,
         'artpH': 7.44,
         'artpCO2': 40,
         'artpO2': 100,
         'artTEMP': 37.1,
         'HCO3': 20,
         'BE': -4.5,
         'cSO2': 98,
         'K': 5.4,
         'VO2': 0,
         'Q': 0,
         'BSA': 0,
         'venpH': 7.2,
         'venpCO2': 50,
         'venpO2': 50,
         'venTEMP': 36.9,
         'SO2': 85,
         'HCT': 23,
         'HGB': 7.8
         })
conn.commit()

In [8]:
c.execute("""CREATE TABLE IF NOT EXISTS cdi(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        Time NUMERIC NOT NULL,
        artpH NUMERIC)""")
conn.commit()

In [40]:
c.execute(
        "INSERT INTO cdi (Time, artpH) VALUES (:Time, :artpH)", {'Time': 154113,'artpH': 7.44})
conn.commit

In [9]:
c.execute("SELECT * FROM cdi");

In [10]:
print(c.fetchall())

[(1, 154113, 7.44, 40, 100, 37.1, 20, -4.5, 98, 5.4, 0, 0, 0, 7.2, 50, 50, 36.9, 85, 23, 7.8), (2, 154113, 7.44, 40, 100, 37.1, 20, -4.5, 98, 5.4, 0, 0, 0, 7.2, 50, 50, 36.9, 85, 23, 7.8), (3, 154113, 7.44, 40, 100, 37.1, 20, -4.5, 98, 5.4, 0, 0, 0, 7.2, 50, 50, 36.9, 85, 23, 7.8)]